<div class="panel panel-default devise-bs">
  <table class="table">
    <% @articles.each do |p| %>
        <tr>
          <td><%= link_to p.title, article_path(p) %></td>
          <td><%= p.user.try(:email) %></td>
          <td>
            <% if current_user && (p.user == current_user) %>
                <%= link_to "Edit", edit_article_path(p), :class => "btn btn-default btn-sm" %>
                <%= link_to "Delete", article_path(p), :data => {:confirm => "r u sure?"}, :class => "btn btn-danger btn-sm", :method => :delete %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<%= paginate @articles %>
